.container {
  padding: 0rem;
}
/*card styles*/

.card {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.pInfo {
  display: flex;
  flex-basis: 90%;
  padding: 0px 30px;
  flex-flow: column;
}
.productInfo {
  border-bottom: 1px dotted #646464;
}
.ProductInfoHead {
  font-size: 16px;
  color: black;
  font-weight: 600;
  margin: 5px 0px;
}
.crossProduct {
  position: absolute;
  left: 96%;
  top: 3%;
  color: #646464;
  z-index: 1;
  cursor: pointer;
}
.priceSection {
  display: flex;
}
.cartIcon {
  margin-top: -2px;
  font-size: 22px;
  color: white;
}
.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0;
  font-size: 22px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.blHeading {
  font-size: 14px;
  margin: 0;
  color: #686868;
}
.headingDiv {
  border-bottom: 1px dotted #686868;
}
.card h3 span {
  font-size: 12px;
  padding: 5px 10px;
  background-color: #f28705;
  color: white;
  border-radius: 4px;
}
.priceSection {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card button {
  background-color: #0487d9;
  color: white;
  border: 0;
  padding: 10px 15px;
  height: 50px;
  font-weight: 100 !important;

  cursor: pointer;
  outline: none;
  border-radius: 10px;
}
.ProductPrice {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.card button:hover {
  background-color: #f28705;
  color: white;
  -webkit-box-shadow: 0px 6px 9px -1px rgba(100, 100, 100, 1);
  -moz-box-shadow: 0px 6px 9px -1px rgba(100, 100, 100, 1);
  box-shadow: 0px 6px 9px -1px rgba(100, 100, 100, 1);

  transition: background-color 0.5s ease;
}

/*card styles end*/
.secondSection {
  margin-top: 2px;
  padding: 40px 100px;
  background-color: #f7fdff;
  border-bottom: 0px solid rgba(217, 217, 217, 0.782);
  box-shadow: 0px 4px 8px 0px rgba(177, 177, 177, 0.5);
  -webkit-box-shadow: 0px 4px 8px 0px rgba(174, 232, 255, 0.5);
  -moz-box-shadow: 0px 4px 8px 0px rgba(174, 232, 255, 0.5);
}
.secondSection h4 {
  font-size: 37px;
  margin-bottom: 47px;
}
.boxShapeWrapper {
  display: flex;
  gap: 30px;
}
.Explore {
  padding: 40px 100px;
}
.advantage {
  padding: 40px 100px;
  background-color: #f6fdff;
  border-bottom: 0px solid rgba(217, 217, 217, 0.782);
  box-shadow: 0px 4px 8px 0px rgba(177, 177, 177, 0.5);
  -webkit-box-shadow: 0px 4px 8px 0px rgba(174, 232, 255, 0.5);
  -moz-box-shadow: 0px 4px 8px 0px rgba(174, 232, 255, 0.5);
}
.stepsWrapper {
  padding: 40px 100px;
}
.CWrap {
  padding: 40px 100px;
}
.cta {
  display: grid;
  grid-template-columns: 20% 50% 20%;
  justify-content: space-between;
  border-radius: 25px;
  background-image: url("https://skillslash-cdn.s3.ap-south-1.amazonaws.com/static/web/Cta.webp");
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
  margin-top: 70px;
  background-size: contain;
  margin: 0 100px 0px 100px;
  padding: 40px 00px;
  align-items: center;
}

.cta h6 {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  margin-top: 20px;

  color: black;
}
.cta p {
  color: rgb(64, 64, 64);
  margin: 0;
  margin-top: 7px;
}
.img {
  position: absolute;
  z-index: 9;
  right: 10px;
  top: -40px;
  height: 200px;
  width: 400px;
}
.cta button {
  background-color: #0487d9;
  color: white;
  padding: 12px 25px;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 20px;
}
.cta button:hover {
  background-color: #f28705;
}
.ExpertWrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 30px;
  align-items: center;
  margin: 0px 100px 0px 100px;
  margin-bottom: 20px;
}
.expert {
  display: flex;
  align-items: center;
  justify-content: center;
}
.expert h5 {
  font-weight: 600;
  margin-top: 45px;
  margin-left: 40px;

  width: 100%;
  font-size: 24px;
}
.ProjectWrapper {
  padding-left: 100px;
  padding-top: 30px;
  padding-right: 100px;
}
.expertBody {
  margin-top: -90px;

  box-sizing: border-box;
  margin-left: -2em;
  margin-right: -2em;
}
.slider {
  height: 400px;
}
.ctaBot {
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 100px;
}
.PriceH {
  font-size: 36px;
  font-family: 600;
  color: rgb(103, 103, 103);
}

@media (max-width: 1281px) {
  .secondSection,
  .Explore,
  .advantage,
  .stepsWrapper,
  .CWrap {
    padding: 30px 40px;
  }
  .cta {
    grid-template-columns: 20% 60% 20%;
    margin: 0 20px;
    padding: 20px 80px;
    background-size: cover;
  }
  .cta h6 {
    margin-top: 30px;
    font-size: 22px;
  }
  .cta button {
    margin-top: 20px;
    margin-left: 20px;
  }
  .ExpertWrapper {
    margin: 0px 20px;
  }
  .expertBody {
    margin: 0;
    margin-top: -90px;
  }
  .ProjectWrapper {
    padding: 30px 20px;
  }
}
@media (max-width: 961px) {
  .cta {
    background-size: cover;
  }
  .cta h6 {
    font-size: 18px;
    margin: 0;
  }
  .cta p {
    font-size: 14px;
    margin: 0;
  }
  .secondSection,
  .Explore,
  .advantage,
  .stepsWrapper,
  .CWrap {
    padding: 30px 20px;
  }
  .ExploreH {
    font-size: 30px;
  }
  .secondSection h4,
  .stepsWrapper h4 {
    font-size: 30px;
  }
  .boxShapeWrapper {
    gap: 10px;
  }
}
@media (max-width: 801px) {
  .boxShapeWrapper {
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .cta button {
    font-size: 14px;
    padding: 10px 18px;
  }
  .cta h6 {
    margin-top: 20px;
  }
}
@media (max-width: 641px) {
  .cta {
    display: flex;
    flex-flow: column;
    border-radius: 25px;
    background-image: url("https://skillslash-cdn.s3.ap-south-1.amazonaws.com/static/web/CTA_section.webp");
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    gap: 10px;
    background-size: contain;
    padding: 60px 70px;
    align-items: flex-start;
    margin: 0;
    margin: 70px 10px;
  }
  .cta h6 {
    font-size: 22px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-right: 120px;
  }
  .cta p {
    font-size: 18px;
    padding-left: 10px;
    line-height: 25px;
  }
  .ctaBot {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .cta button {
    padding: 10px 15px;
    display: flex;
    font-size: 16px;
    align-items: center;
    color: white;
  }
}
@media (max-width: 481px) {
  .cta {
    display: flex;
    flex-flow: column;
    border-radius: 25px;
    background-image: url("https://skillslash-cdn.s3.ap-south-1.amazonaws.com/static/web/CTA_section.webp");
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    gap: 10px;
    background-size: cover;
    padding: 60px 10px;
    align-items: center;
    margin: 0;
    margin: 70px 10px;
  }
  .cta h6 {
    font-size: 22px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-right: 120px;
  }
  .cta p {
    font-size: 18px;
    padding-left: 10px;
    line-height: 25px;
  }
  .ctaBot {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .cta button {
    padding: 10px 15px;
    display: flex;
    font-size: 16px;
    align-items: center;
    color: white;
  }

  .ProjectWrapper {
    padding: 0px;
  }
  .expertBody {
    margin-left: -0em;
    margin-right: -0em;
  }

  .ExpertWrapper {
    display: block;
    grid-template-columns: auto;
    margin: 0;
    margin-top: 30px;

    margin-bottom: 20px;
  }
  .secondSection {
    padding: 20px 10px;
  }
  .secondSection h4 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .boxShapeWrapper {
    display: flex;
    flex-flow: column;
  }
  .Explore {
    padding: 20px 10px;
    height: 720px;
  }
  .advantage {
    padding: 20px 10px;
  }
  .stepsWrapper {
    padding: 20px 10px;
  }
  .CWrap {
    padding: 20px 0px;
  }
}
