.mains {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Ptop {
  color: #000;
  font-size: 20px;
}

.hptop {
  color: #000;
  font-size: 36px;
  margin-bottom: 20px;
}

.mainb {
  display: flex;
}

.Button {
  margin: 10px;
}

@media (max-width: 481px) {
  .mains {
    flex-flow: column;
    margin-top: 70px;
  }

  .Ptop {
    color: #000;
    font-size: 18px;
    padding: 0px 10px;
  }

  .hptop {
    color: #000;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 0px 10px;
  }

  .mainb {
    display: flex;
  }

  .Button {
    margin-right: 10px;
  }
}
